@{
    ViewData["Title"] = "Error";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow text-center">
            <div class="card-body">
                <h3 class="text-danger mb-4">Ha ocurrido un error</h3>
                <p>Lo sentimos, ha ocurrido un error inesperado. Por favor, inténtelo nuevamente más tarde.</p>
                <a href="/" class="btn btn-primary">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>